Source: python3-pyblast
Priority: optional
Maintainer: Redmar van den Berg <Redmar@ubuntu.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/Redmar-van-den-Berg/pyBlast

Package: python3-pyblast
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ncbi-blast+, python3-biopython, python3
Description: python3 wrapper around ncbi-blast+
 python3 wrapper around ncbi-blast+, developed by Redmar van den Berg
